<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Supported</title>
    <style>
      .home-link {
        background-color: #3a5673;
        border: 1px solid #3a5673;
        border-radius: 10px;
        text-decoration: none;
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: #e0e8f0;
        font-size: large;
      }
      .home-link:hover {
        background-color: #3a5673e8;
      }
      .home-link:active {
        background-color: #546475e8;
      }
      .home-link:focus {
        border: 1px solid #546475e8;
      }
    </style>
  </head>
  <body style="display: flex; align-items: center; flex-direction: column">
    <h1>Not Supported Path</h1>
    <br />
    <p style="font-size: larger">
      Your endpoint is
      <code style="background-color: whitesmoke">/{{endpoint}}</code>
    </p>
    <br />
    <a class="home-link" href="/">Home</a>
  </body>
</html>
